@model TopLearn.ViewModel.UserViewModels.UserAdminPanelViewModel
@{@using TopLearn.Utility.Convertor
ViewData["Title"] = "کاربران";
var activeUser = (Model.UserCount - Model.UserInactiveCount) + 1;
var userCount = Model.UserCount + 1;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>

        <small>پنل مدیریت کاربران</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> پنل</a></li>
        <li class="active">کاربران</li>
    </ol>
</section><br />
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        <img class="img-circle" src="images/user7-128x128.jpg" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">وب مارکت</h3>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">کل کاربران <span class="pull-left badge bg-blue">@userCount</span></a></li>
                        <li><a href="#">کاربران فعال <span class="pull-left badge bg-aqua">@activeUser</span></a></li>
                        <li><a href="#">کاربران غیر فعال <span class="pull-left badge bg-red">@Model.UserInactiveCount</span></a></li>
                        @if (Model.isSubPermissionsAddUser)
                        {
                            <li class="text-center" style="padding:10px 10px"><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">افزودن کاربر</button></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- USERS LIST -->



            <div class="box box-danger  collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">کاربران غیر فعال</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-danger">@Model.UserInactiveCount</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>ایمیل</th>
                                    <th>تاریخ ثبت نام</th>
                                    <th>توضیحات</th>
                                    <th> عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model.UserInactiveViewModel)
                                    {
                                        <tr>
                                            <td>@item.UserEmail</td>
                                            <td dir="ltr" align="right">@item.UserDateTime.ToShamsi()</td>
                                            <td>@item.UserDescription</td>
                                            <td>
                                                <button class="btn btn-warning btn-small" title="ویرایش اطلاعات کاربر">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-danger btn-small" title="حذف کاربر">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                                <button class="btn btn-success btn-small" title="فعال سازی کاربر">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }*@
                            </tbody>
                        </table>
                    </div>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">

                </div>
                <!-- /.box-footer -->
            </div>



            <!--/.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--All USERS -->



            <div class="box box-danger  ">
                <div class="box-header with-border">
                    <h3 class="box-title">کاربران</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-danger">@userCount</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>ایمیل</th>
                                    <th>تاریخ ثبت نام</th>
                                    <th>وضعیت</th>

                                    <th> عملیات</th>
                                </tr>
                            </thead>
                            <tbod>
                                @foreach (var item in Model.UserModel)
                                {
                                    <tr>
                                        <td>@item.UserEmail</td>
                                        <td dir="ltr" align="right">@item.UserDateTime.ToShamsi()</td>
                                        <td>
                                            @if (item.UserIsActive)
                                            {
                                                <div><span class="alert alert-success">فعال</span></div>
                                            }
                                            else
                                            {
                                                <div><span class="alert alert-danger">غیر فعال</span></div>
                                            }
                                        </td>



                                        <td>
                                            @if (Model.isSubPermissionsEditUser)
                                            {
                                                <button class="btn btn-warning btn-small" title="ویرایش اطلاعات کاربر">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-danger btn-small" title="حذف کاربر">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                                <button class="btn btn-success btn-small" title="فعال سازی کاربر">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbod>
                        </table>
                    </div>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">

                </div>
                <!-- /.box-footer -->
            </div>



            <!--/.box -->
        </div>
    </div>

</section>


@if (Model.isSubPermissionsAddUser)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-area="Admin" asp-controller="Users" asp-action="Index">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">افزودن کاربر</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <input type="hidden" asp-for="PageNumber" />
                                <input class="form-control" asp-for="UserEmail" />
                                <br />
                                <input class="form-control" asp-for="UserPassworld" />
                                <br />
                                <br />
                                <div asp-validation-summary="All" class="text-red"></div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="box box-warning direct-chat direct-chat-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">نقش ها</h3>
                                        <div class="box-tools pull-right">

                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>


                                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <!-- Conversations are loaded here -->
                                        <div class="direct-chat-messages">
                                            <!-- Message. Default to the left -->
                                            @foreach (var role in Model.roleViewModels)

                                            {

                                                <div class="direct-chat-msg">

                                                    <!-- /.direct-chat-img -->
                                                    <label class="direct-chat-text" style="cursor:pointer;">
                                                        <input type="checkbox" name="roleId" value="@role.RoleID" />
                                                        @role.RoleTitle
                                                    </label>
                                                    <!-- /.direct-chat-text -->
                                                </div>
                                                <!-- /.direct-chat-msg -->
                                            }
                                        </div>
                                        <!--/.direct-chat-messages-->

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                        <input type="reset" class="btn btn-warning" value="خالی کردن فرم" />
                        <input type="submit" class="btn btn-primary" value="افزودن کاربر" />
                    </div>
                </form>
            </div>
        </div>
    </div>



}